.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: map-get($space-size, "xl");

  &-description {
    max-width: 28rem;
    overflow: auto;
  }
  &-icons {
    padding: map-get($space-size, "xxs") 0;
    display: flex;
    gap: map-get($space-size, "xxs");
  }
}

.portfolio {
  width: 80%;
}
