.toggle {
  border-radius: 1rem;
  cursor: pointer;
  height: 2rem;
  width: 4rem;

  &-ball {
    background-color: map-get($color, "white");
    transition: 0.2s;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
  }

  &-off {
    transform: translateX(100%);
  }

  &-on {
    transform: translateX(0);
  }
}
