@mixin text($size, $lineHeight, $weight, $family) {
  @if ($size != null) {
    font-size: $size;
  }
  @if ($lineHeight != null) {
    line-height: $lineHeight;
  }

  @if ($weight != null) {
    font-weight: $weight;
  }

  @if ($family != null) {
    font-family: $family;
  }
}

body {
  //   background-color: #1f1c22;
  //   color: #fefcfd;
  height: 100vh;
  font-family: "Nunito", sans-serif;
}

.icons {
  //   color: #14e1bf;
  display: flex;
  gap: 0.5rem;
}

// h1 {
//   line-height: 0.8rem;
//   font-size: 3rem;
//   font-weight: 900;
//   font-family: "Montserrat", sans-serif;
// }

.App {
  padding-top: 5rem;

  padding-bottom: 10rem;
  padding-left: 10rem;
}

.description {
  width: 28rem;
}
