$color: (
  "cyan": #14e1bf,
  "black": #1f1c22,
  "pink": #ed6b86,
  "white": #fefcfd
);

$dark: (
  "background": map-get($color, "black"),
  "primary": map-get($color, "white"),
  "secondary": map-get($color, "cyan")
);

$light: (
  "background": map-get($color, "white"),
  "primary": map-get($color, "black"),
  "secondary": map-get($color, "pink")
);

$themes: (
  "light": $light,
  "dark": $dark
);

$font-size: (
  "xxs": 0.3rem,
  "xs": 0.5rem,
  "sm": 0.8rem,
  "md": 1rem,
  "lg": 1.6rem,
  "xl": 3rem,
  "xxl": 4rem
);

$space-size: (
  "xxs": 1rem,
  "xs": 2rem,
  "sm": 3rem,
  "md": 5rem,
  "lg": 7rem,
  "xl": 8rem,
  "xxl": 10rem
);

@each $theme, $map in $themes {
  .#{$theme}-theme {
    background-color: map-get($map, "background");
    color: map-get($map, "primary");

    .#{$theme}-accent {
      color: map-get($map, "secondary");
      transition: color 0.3s linear;
    }

    a:hover {
      color: map-get($map, "primary");
    }

    .toggle {
      background-color: map-get($map, "secondary");
    }
  }
}
