$dark: (
  "background": #1f1c22,
  "primary": #fefcfd,
  "secondary": #14e1bf
);

$light: (
  "background": #fefcfd,
  "primary": #1f1c22,
  "secondary": #ed6b86
);

$themes: (
  "light": $light,
  "dark": $dark
);

$font-size: (
  "xxs": 0.3rem,
  "xs": 0.5rem,
  "sm": 0.8rem,
  "md": 1rem,
  "lg": 1.6rem,
  "xl": 3rem,
  "xxl": 4rem
);

$space-size: (
  "xxs": 1rem,
  "xs": 2rem,
  "sm": 3rem,
  "md": 5rem,
  "lg": 7rem,
  "xl": 8rem,
  "xxl": 10rem
);

@each $theme, $map in $themes {
  .#{$theme}-theme {
    background-color: map-get($map, "background");
    color: map-get($map, "primary");

    .#{$theme}-accent {
      color: map-get($map, "secondary");
      transition: color 0.3s linear;
    }

    a:hover {
      color: map-get($map, "primary");
    }
  }
}
